---
layout: page
title: Archive
subtitle: As years flow by.
permalink: /archive/
---

<div class="page-archive">
    <div class="timeline">
        {% for post in site.posts %}
        {% unless post.next %}
        <div class="archive-title">
            <h2 class="archive-year">{{ post.date | date: '%Y' }}</h2>
        </div>
        <ul>
            {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
        </ul>
        <div class="archive-title">
            <h2 class="archive-year">{{ post.date | date: '%Y' }}</h2>
        </div>
        <ul>
            {% endif %}
            {% endunless %}
            <li>
                <div style="width:60px;float:left;">{{ post.date | date: "%b %-d" }}</div>
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
