//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%);   // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee
$body-bg: #FFF;
$secondary-bg: #F7FAFC;
$primary-color: #F1362F;
$text-color: $gray-dark;
$link-color: #337AB7;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
body {
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}
a {
    color: $link-color;
    text-decoration: none;
}
a:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
    background: rgba(238, 238, 238, 0.35);
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}
pre {
    padding: 0;
    border: none;
}
.navbar-default {
    background: rgba(255, 255, 255, 0.96);
    border: none;
    .navbar-brand {
        color: $gray-dark;
    }
    .navbar-nav>li>a {
        color: $gray-dark;
    }
    .navbar-nav>li>a:hover {
        color: $gray-darker;
        background: $secondary-bg;
    }
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover {
        color: $gray-darker;
        background: $secondary-bg;
    }
    .navbar-toggle:focus,.navbar-toggle:hover {
        background-color: $secondary-bg;
    }
}

.footer {
    padding-top: 20px;
    background: none;
    border-top: 1px solid $gray-lighter;
    .icon {
        svg {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            path {
                fill: $gray;
            }
        }
    }
}
.doc-page {
    .doc-page-header {
        height: 220px;
        margin-bottom: 20px;
        position: relative;
        .page-header {
            border-bottom: none;
            margin: 80px 0 0 0;
        }
        #particles {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        .particles-bg {
            background: $secondary-bg;
        }
    }
}
// Index
.page-index {
    .hero-container {
        position: relative;
    }
    .hero-container .jumbotron {
        background: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .hero-container .jumbotron h1 {
        margin: 20px auto 36px;
        color: $gray-dark;
        font-weight: 200;
    }
    @media screen and (min-width: 768px) {
        .hero-container .jumbotron h1 {
            font-size: 48px;
        }
    }
}
// Post
.page-post {
    .post-title {
        text-align: center;
        font-size: 1.9em;
    }
    .post-meta {
        text-align: center;
    }
    .post-meta a{
        color: $gray-dark;
        text-decoration: none;
    }
    .post-content h2:before {
        content: "§";
        margin-right: 10px;
    }
    .post-content img {
        max-width: 100%;
        height: auto;
    }
    .post-aside .post-directory {
        font-size: 12px;
    }
    .post-aside .post-directory.affix{
        position: fixed;
        top: 50px;
    }
    .post-aside .post-directory.affix-bottom{
        position:absolute;
    }
    .post-aside .post-directory a {
        color: $gray-light;
        display: block;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    @media (min-width: 1200px) {
        .post-aside .post-directory {
            width: 263px;
        }
    }
    @media (min-width: 992px) {
        .post-aside .doc-directory {
            width: 213px;
        }
    }
}
// List
.page-list {
    .pagination {
        width: 100%;
        text-align-last: center;
    }
    ul {
        li {
            margin: 1em auto;
        }
    }
}
// Tag
.page-tag {
    .tag-list a {
        margin-bottom: 4px;
        background: $secondary-bg;
        border: none;
    }
    .tag-list a:active {
        background: $secondary-bg;
        outline: none;
    }
    ul {
        li {
            margin: 1em auto;
        }
    }
}
// Catetory
.page-category {
    ul {
        li {
            margin: 1em auto;
        }
    }
}
// Archive
.page-archive {
    .timeline {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -2px;
            height: 100%;
            width: 4px;
            background: $gray-lighter;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .archive-title {
        position: relative;
        margin: 2em auto 1em;
        .archive-year {
            margin-left: 1em;
            &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 50%;
                margin-left: -4px;
                margin-top: -4px;
                width: 8px;
                height: 8px;
                background: #bbb;
                border-radius: 50%;
            }
        }
    }
    ul {
        list-style: none;
        li {
            margin: 1em auto;
        }
    }
}
